/*
	Project Title: Programaquina y los Secretos del Planeta Algoritmus;
	Author: Marcus Baptiste 
*/

/*TODO - ADD PROPER CSS WHERE NEEDED TO LOAD IMAGE GRAPHICS INSTEAD OF PLAIN COLORED DIVS/SPANS*/

/*fonts */
@font-face {
	font-family: "space-font";
	src: url("../fonts/space.ttf") format("truetype");
}
@font-face {
	font-family: "rvd-code28";
	src: url("../fonts/rvd_code28.ttf") format("truetype");
}

body { 
	margin: 0; padding: 0;
	position: absolute; 
	width: 100%; height: 100%;
	background-color: #333; 
	color: #333; 
	font-family: "space-font", arial, sans-serif; font-size: 1em; 
	overflow:hidden;
}

/*--Remove defaults on elements------------------------------------------*/
	a { text-decoration: none; }
	hr { padding: 0; margin: 0; }
/*-----------------------------------------------------------------------*/

/*--Language options - (spanish language option by default)--------------*/
	.lang-eng { display: none; }
	.lang-esp { }
/*-----------------------------------------------------------------------*/

/*--GENERAL PROPERTY MODIFIERS-------------------------------------------*/
	/* centered background scaled to fit element */
	.center-bg-full {
		background-repeat: no-repeat; 
		background-position: 50% 50%; 
		background-size: 100% 100%;
	}

	/* bolded text general class (for more advanced styling and responsive) */
	.bold { 
		font-size: 1.5em; 
		font-weight: 600; 
		color: #000; 
	}

	/*prevent selection of text in certain elements*/
	.unselectable {
	   -moz-user-select: -moz-none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
/*--END GENERAL PROPERTY MODIFIERS---------------------------------------*/

/*--Page content---------------------------------------------------------*/
	.gui-page-title {
		margin: 0; 
		padding: 0;
		text-align: center;
	}

	.gui-item-title {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	/*form elements*/
	input {
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		border-radius: 5px; 
		border: 1px solid rgba(50,50,70,0.5);
		height: 20px; 
		line-height: 20px; 
		padding: 4px 10px;
		display: inline-block;
	}

	label {
		display: inline-block; 
	}
/*-----------------------------------------------------------------------*/

/*--Tabs ----------------------------------------------------------------*/
	.gui-tab-group {
		width: 100%; 
		position: relative;

	}	
		.gui-tab-title-bar {
		}

		.gui-tab-title {
			position: relative;
			top: -6px;
			height: 100%;
			padding: 4px 5px 0;
			margin: 0 -6px 0 0;
			background-color: #ddd;
			display: inline-block;
			border-top: 2px solid rgba(50,50,50,0.8);
			border-left: 2px solid rgba(50,50,50,0.8);
			border-right: 2px solid rgba(50,50,50,0.8);
			-webkit-border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			cursor: pointer;
		}

		.gui-tab-content {
			margin: 0;
			padding: 5px 10px;
			display: none;
			height: 60%;
			background-color: #ffe;
			border: 2px solid rgba(50,50,50,0.8);
		}

		.active-tab-title {
			border-bottom: 2px solid #fff;
			background-color: #fff;

		}

		.active-tab {
			display: block;
		}
/*-----------------------------------------------------------------------*/

/*--Pop-up messages boxes------------------------------------------------*/
	.gui-message-box {
		position: absolute;
		top: 25%; left: 25%;
		width: 46%;	height: auto;
		padding: 2%;
		background-color: white;
	}
		.message-box-title {
			color: #333;
			margin: 1% 1% 10px;
			text-align: center;
		}

		.message-box-icon {
			width: 32px; height: 32px;
			margin-right: 10px;
			float: left;
		}

			.message-icon-success {
				background-color: green;
			}

			.message-icon-warning {
				background-color: yellow;
			}	

			.message-icon-error {
				background-color: red;
			}

		.message-box-text {

		}

		.message-button-wrapper {
			display: block;
			margin-top: 10px;
			width: 100%;
		 	font-family: "Century Gothic", Century;
			cursor: pointer;
			text-align: center;
		}

		.message-button {
			display: inline-block;
		}

		.message-btn-ok {
			border: 2px solid #407F10;
			background-color: #61c419; 
			color: #333;
		}
			.message-btn-ok:hover, .message-btn-ok:active {
				background-color: #4D9913; 
				color: #ddd;
			}

		.message-btn-cancel {
			border: 2px solid #AD0303;
			background-color: #fe3019; 
			color: #333;
			margin-left: 1%;
		}
			.message-btn-cancel:hover, .message-btn-cancel:active {
				background-color: #cf0404; 
				color: #ddd;	
			}
/*-----------------------------------------------------------------------*/

/*--Gui buttons----------------------------------------------------------*/
	.gui-button {
		display: inline-block; 
	 	font-family: "Century Gothic", Century;
		cursor: pointer;
		-moz-user-select: -moz-none;
	   	-khtml-user-select: none;
	   	-webkit-user-select: none;
	   	/*
	     	Introduced in IE 10.
	    	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   	*/
	   	-ms-user-select: none;
	   	user-select: none;
	}

		.small-button {
			padding: 3px 5px; 
			line-height: 15px; 
			font-size: 15px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}

		.large-button {
			padding: 4px 10px; 
			line-height: 18px; 
			font-size: 18px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}


		.green-button {
			border: 2px solid #407F10;
			background-color: #61c419; 
			color: #333;
		}

			.green-button:hover, .green-button:active {
				background-color: #4D9913; 
				color: #ddd;
			}

		.blue-button {
			border: 2px solid #4B88C1;
			background-color: #60abf8; 
			color: #333;
		}

			.blue-button:hover, .blue-button:active {
				background-color: #569ADD; 
				color: #ddd;
			}

		.yellow-button {
			border: 2px solid #B29B17;
			background-color: #E5CA1D; 
			color: #333;
		}

			.yellow-button:hover, .yellow-button:active {
				background-color: #C9AF1A; 
				color: #ddd;
			}	

		.red-button {
			border: 2px solid #AD0303;
			background-color: #fe3019; 
			color: #333;
		}

			.red-button:hover, .red-button:active {
				background-color: #cf0404; 
				color: #ddd;
			}

		.back-button {
			display: block;
			margin: 1% auto;
		}
/*-----------------------------------------------------------------------*/

/*--Gui icons------------------------------------------------------------*/
	.gui-icon {
		display: inline-block;
		background-image: url("../img/icon-user.png");
		background-size: 100%;
		background-position: 50%;
		background-repeat: no-repeat;
	}

		.small-icon {
			width: 16px; height: 16px;
		}

		.med-icon {
			width: 24px; height: 24px;
		}

		.large-icon {
			width: 32px; height: 32px;
		}

		.icon-arrow-down { background-image: url("../img/icon-arrow-down.png"); }
		.icon-arrow-up { background-image: url("../img/icon-arrow-up.png"); }
		.icon-user { background-image: url("../img/icon-user.png"); }
/*-----------------------------------------------------------------------*/

/*--Gui block links (button-like links)----------------------------------*/
	.gui-block-link {
		text-decoration: none; 
		font-weight: bold; 
		color: #333; 
		display: block; 
		padding: 4px 0; 
		width: 200px;
		margin: 0 auto;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center; 
		background-color: rgba(250,250,255,0.8);
	}

	.gui-block-link:hover, .gui-block-link:active {
		background-color: rgba(20,20,20,0.5); 
		color: #eee;
	}
/*-----------------------------------------------------------------------*/

/*--Gui checkboxes-------------------------------------------------------*/
	.gui-check-box {
		display: block;
		width: 120px;
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		color: rgba(50,50,80,0.8);
	}
		.gui-check-box div { 
			display: inline-block;
		}

		.gui-check-box div:first-child {

		}

		.gui-check-box div:last-child {
			width: 20px; height: 20px;
			background-color: rgba(240,240,240,0.8);
			position: relative; 
			margin-left: 10px;
			border: 2px solid rgba(25,25,25,0.5);
		}

		.check-box-checked {

		}
			.check-box-checked div:last-child {
				background-color: rgba(50,50,50,0.8);
				border: 2px solid rgba(240,240,240,0.8);
			}
/*-----------------------------------------------------------------------*/

/*--Thumbnail previews---------------------------------------------------*/
	/*Preview for levels in level select and showing cleared levels in profile*/
	.level-thumb {
		/* TODO - vary dimensions according to screen size*/
		width: 80px; height: 60px;
		margin: 0 1%;
		border: 2px solid rgba(25,50,25,0.2);
		display: inline-table;
		cursor: pointer;
		line-height: 60px;
		font-weight: bold;
	}

	.level-thumb:hover, .level-thumb:active{
		border: 2px dashed rgba(100,200,100,0.5);
		outline: 2px solid rgba(90,250,90,0.8);
	}
/*-----------------------------------------------------------------------*/

/*--Thumbnail previews for acheivements----------------------------------*/
	/* TODO - make dimensions vary according to screen size according to screen size*/
	.acheive-thumb {
		width: 80px; height: 60px;
		border: 2px solid rgba(25,50,25,0.2);
		background-color: rgba(25,60,120, 0.8);
		display: inline-table;
		cursor: pointer;
	}

	.acheive-thumb:hover, .acheive-thumb:active {
		border: 2px dashed rgba(100,150,100,0.5);
		outline: 2px solid rgba(90,120,90,0.8);
		background-color: rgba(50,80,150, 0.8);
	}
/*-----------------------------------------------------------------------*/

/*--MAIN SUBDIVISIONS----------------------------------------------------*/
	/* wrapper for everything that is not the loader or the small screen error*/
	.content-wrapper {
		display: block;
		position: relative;
		margin: 0 auto;
		width: auto; height: auto;
	}

	/* loader css in separate file */

	/* container for all the elements of the app */
	.app-container { 
		display: table; 
		position: absolute;
		width: 100%; height: 100%;
		background-color: red;
	}

	/* container for logo */
	.logo-container { 
		display: none; 
		width: 100%; height: 100%; 
		position: absolute;  
		background-color: black;
	}

		/* logo parts */
		/*	.part0 { }
			.part1 { }
			.part2 { }*/

	/* wrapper for all content  that will be affected by dimension limitations */
	.dimension-wrapper { 
		display: block;
		position: relative;
		margin: 20px 0 0 0;
		width: 480px; height: 240px;
	/*	-webkit-transform-style: preserve-3d;
	  	-moz-transform-style: preserve-3d;
	  	transform-style: preserve-3d;*/
	/*  	background-image: url("../img/bg_test.png"); 
	  	background-repeat: no-repeat;
	  	background-position: 50% 50%;
	  	background-size: 100% 130%;*/
	}
/*--END MAIN SUBDIVISIONS------------------------------------------------*/

/*--Background elements--------------------------------------------------*/
	/*gradient that defines sky setting (sunny*/
	.game-bg-sky {
		position: absolute; 
		top: 0; left: 0;
		width: 100%; 
		height: 260px;
	}

	.game-bg-clouds {
		position: absolute; 
		top: 0; left: 0;
		width: 100%;
		height: 104px;
		/*background-color: rgba(255,20,20,0.5);*/
	}
	
		.bg-sky-sunny {
			background: #f0f9ff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f0f9ff 0%, #a1dbff 90%, #a1dbff 90%, #b17f57 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(90%,#a1dbff), color-stop(90%,#a1dbff), color-stop(100%,#b17f57)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f0f9ff 0%,#a1dbff 90%,#a1dbff 90%,#b17f57 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f0f9ff 0%,#a1dbff 90%,#a1dbff 90%,#b17f57 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f0f9ff 0%,#a1dbff 90%,#a1dbff 90%,#b17f57 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f0f9ff 0%,#a1dbff 90%,#a1dbff 90%,#b17f57 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#b17f57',GradientType=0 ); /* IE6-9 */
		}

		.bg-sky-cloudy {
			background: #226fa3; /* Old browsers */
			background: -moz-linear-gradient(top,  #226fa3 0%, #65acc6 87%, #b17f57 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#226fa3), color-stop(87%,#65acc6), color-stop(100%,#b17f57)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #226fa3 0%,#65acc6 87%,#b17f57 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #226fa3 0%,#65acc6 87%,#b17f57 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #226fa3 0%,#65acc6 87%,#b17f57 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #226fa3 0%,#65acc6 87%,#b17f57 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#226fa3', endColorstr='#b17f57',GradientType=0 ); /* IE6-9 */
		}

		.bg-sky-sunset {
			background: #464b73; /* Old browsers */
			background: -moz-linear-gradient(top,  #464b73 0%, #c36565 50%, #fd5c26 77%, #ef7d26 90%, #b17f57 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464b73), color-stop(50%,#c36565), color-stop(77%,#fd5c26), color-stop(90%,#ef7d26), color-stop(100%,#b17f57)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #464b73 0%,#c36565 50%,#fd5c26 77%,#ef7d26 90%,#b17f57 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #464b73 0%,#c36565 50%,#fd5c26 77%,#ef7d26 90%,#b17f57 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #464b73 0%,#c36565 50%,#fd5c26 77%,#ef7d26 90%,#b17f57 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #464b73 0%,#c36565 50%,#fd5c26 77%,#ef7d26 90%,#b17f57 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464b73', endColorstr='#b17f57',GradientType=0 ); /* IE6-9 */
		}


	/*wrapper for lands graphics outside of lands canvas*/
	/*this will ensure that the lands graphics flows seamlessly from one end of the screen to the otherh*/
	.game-bg-lands-wrapper {
		position: relative;
		display: table-cell;
	 	width: 500px;
	 	z-index: 0;
	}
		
		.bg-lands-left, .bg-lands-right{
			background-image: url("../img/sprite-bg-lands.png"); 
			background-repeat: repeat-x;
			background-size: 80px 240px;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 80px;
		}

		.bg-lands-left {
			background-position:top right;
			right: 0;	
		}

		.bg-lands-right {
			background-position:top left;
			left: 0;
		}

	/*gradient that creates a seemless blend from the lands graphics to dark body background*/
	.game-bg-underground {
		position: absolute;
		top: 260px;
		height: 200px;
		width: 100%;
		background: #b17f57; /* Old browsers */
		background: -moz-linear-gradient(top,  #b17f57 0%, #333333 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b17f57), color-stop(100%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b17f57 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #b17f57 0%,#333333 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #b17f57 0%,#333333 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #b17f57 0%,#333333 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b17f57', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	}
/*-----------------------------------------------------------------------*/

/*--Game display---------------------------------------------------------*/
	.game-objects-canvas, .game-lands-canvas, .game-characters-canvas {
		display: block;
		position: absolute;
		width: 480px;
		left: 0;
	}

	/*game objects and game characters canvas elements*/
	.game-objects-canvas, .game-characters-canvas {
		top: 96px;
		height: 144px;
	}

	/*game lands*/
	.game-lands-canvas {
		top: 192px;
		height: 48px;
	}

	/*game characters*/
	.game-characters-canvas {
		/*outline: 2px solid red;*/
	}
/*-----------------------------------------------------------------------*/

/*--GUI INTERFACE ELEMENTS-----------------------------------------------*/

	/*--Generally aplicable styles (will apply to all user interfaces)---*/
		.user-select, .user-create, .game-menu, 
		.game-options, .credits-page, .level-select {
			display: none;
			position: absolute;
			top: 20%; left: 50%;
			/*top: 50%;*/
			height: auto;
			/*margin: 0 auto;*/
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);

			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		.button-wrapper {
			position: relative;
			height: 40px;
			margin: 10px auto 0;
			display: block;
		}
	/*-------------------------------------------------------------------*/

	/*--Select user (login)----------------------------------------------*/
		.user-select { 
			width: 300px; 
		}
			.user-select label, .user-select input { 
				width: 200px; 
				margin: 0 auto;
			}
			.user-select label { 
				padding: 10px 0 0 0; 
				width: 220px;
				font-weight: bold;
				display: block;
			}
			.user-select input { 
				margin-top: 0;
				display: block;
			}
			.user-select .button-wrapper {
				width: 220px;
			}

			.user-select .gui-button {
				position: absolute;
				right: 0;
			}

			#link-create-user {
				position: relative;
				display: block;
				margin: 10px auto 0;
			}
	/*-------------------------------------------------------------------*/

	/*--Create user------------------------------------------------------*/
		.user-create {
			width: 400px; 
		}

			.user-create .button-wrapper {
				width: 300px;
			}

			.input-group-wrapper {
				width: 300px;
				margin: 5px auto 0;
			}

			.input-group-wrapper label {
				width: 100px;
				position: relative; top: 4px;
				text-align: right;
			}

			#btn-create-user {
				position: absolute;
				right: 0;
			}
	/*-------------------------------------------------------------------*/

	/*--User session-----------------------------------------------------*/
		.user-session { 
			display: none; 
			position: absolute;
			top: 2px; right: 5px;
			width: auto; height: 20px;
			padding: 2px 5px;
			font-family: "Century Gothic", Century;
			font-size: 16px;  line-height: 24px;
			background-color: rgba(250,250,255,0.5);
			border: 2px solid rgba(25,25,75,0.4);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			cursor: pointer;
			overflow: hidden;
			z-index: 2;
		}	
			
			.user-session-open {
				height: 80px; 
			}

			.user-session-bar {

			}

			.user-session-options {
				width: 100%; height: auto;
			}

			.menu-option {
				display: block;
			}

			.user-name {
				margin-right: 20px;
			}

			.user-name, .user-session .lang-eng, .user-session .lang-esp {
				position: relative;
				top: -2px;
			}
	/*-------------------------------------------------------------------*/

	/*--User profile-----------------------------------------------------*/
		.user-profile {
			display: none;
			position: absolute;
			padding: 0 3%;
			width: 84%; height: 90%;
			top: 5%; left: 5%;
			background-color: white;
			-webkit-border-radius: 1%;
			-moz-border-radius: 1%;
			border-radius: 1%;
			z-index: 1;
		}
			
			.user-profile .gui-page-title {
				background-color: #aab;
			}

			.profile-user-info {
				position: relative;
			}

			.profile-user-info div {
				display: inline-block;
				
			}

			.profile-user-info div:first-child {vertical-align: top; }
			.profile-user-info div:last-child { margin-left: 10%;}

			.profile-user-info img{
				float: left;
				margin: 2px;
				width: 32px; height: 32px;
			}

			.user-profile .gui-button {
				display: block;
				margin: 1% auto 0;
			}

			.user-profile .gui-tab-group {
				margin-top: 1.5%;
				position: relative;
				height: 50%;
			}

			.user-profile .gui-tab-title-bar {
				height: 20%;
			}
	/*-------------------------------------------------------------------*/

	/*--Game menu--------------------------------------------------------*/
		.game-menu { 
			display: none;
		}

			.game-menu .button-wrapper {
				height: auto;
			}

			.game-menu .gui-button {
				display: block;
				margin: 20px auto;	
			}
	/*-------------------------------------------------------------------*/

	/*--Game options-----------------------------------------------------*/
		.game-options { 
			width: 400px;
		}
			.game-options .button-wrapper {
				text-align: center;
				margin: 0 0 10px;
				height: auto;
			}	

			.game-options .gui-item-title {

			}

			.bg-thumb {
				/*dimensions will vary according to screen size*/
				width: 80px; height: 60px;
				border: 2px solid rgba(25,50,25,0.2);
				display: inline-block;
				margin: 0 5px;
				background-color: rgba(200,150,90,0.5);
			}

			.bg-thumb:hover {
				border: 2px dashed rgba(100,150,100,0.5);
				outline: 2px solid rgba(90,120,90,0.8);
			}

			.bg-selected {
				outline: 2px solid rgba(90,120,90,0.8);
			}

			/*language options*/
			.btn-change-lang {
				border: 2px solid rgba(25,25,25,0.6);
			}

			.btn-change-lang:hover, .btn-change-lang:active {
				outline: 2px solid rgba(50,100,50,0.5);
			}

			.active-lang {
				border: 2px solid rgba(25,75,50,0.7);
				background-color: #99efac;
			}
	/*-------------------------------------------------------------------*/

	/*--Credits page-----------------------------------------------------*/
		.credits-page {
			text-align: center;
		}
	/*-------------------------------------------------------------------*/

	/*--Level select-----------------------------------------------------*/
		.level-select {
			text-align: center;
			width: 80%;
		}
			.level-select .gui-page-title {
				margin-bottom: 20px;
			}

			.level-passed {
				background-color: rgba(200,250,200,0.8);
			}

			.level-open {
				background-color: rgba(200,200,250,0.8);
			}

			.level-locked {
				background-color: rgba(200,120,100,0.8);
			}

			.level-selected {
				/*background-color: rgba(150,255,220, 0.9);*/
				outline: 2px solid rgba(90,250,90,0.8);
			}

			.level-select .button-wrapper {
				height: auto;
			}

			.level-select .gui-button {
				display: block;
				margin: 10px auto 0;
			}	

			/*scroll arrows for showing levels that cannot be shown on screen because of space restrictions*/
			.level-scroll-left, .level-scroll-right {
				display: none;
			}
	/*-------------------------------------------------------------------*/

	/*--Code panel elements----------------------------------------------*/
		.code-bit-list {
			display: none; width: 130px; height: 100px;
			position: absolute; top: 36px; left: 182px;
			overflow: hidden; 
			background-image: url('../img/code-bit-list-bar-top.png'), url('../img/code-bit-list-bar-bottom.png');
			background-repeat: no-repeat;
			background-position: top right, bottom right;
			background-size: 130px 10px;
		}

		.code-bit-list-inner {
			position: absolute;
			width: 120px; height: 86px;
			top: 7px; left: 2px;
			padding-left: 3px;
			-moz-border-radius: 0 5px 5px 5px;
			-webkit-border-radius: 0 5px 5px 5px;
			border-radius: 0 5px 5px 5px;
			background-color: rgba(255,255,255,0.6);
			border-right: 1px solid rgba(25,70,25,0.5);	
			border-left: 1px solid rgba(25,70,25,0.5);	
		}

		.code-panel { 
			display: none;
			position: absolute; 
			width: 180px; height: 100px;
			top: 4px; left: 4px;
			overflow: hidden; 
		}

			.cp-title-bar {
				width: 180px; height: 20px;
				background-image: url('../img/code-panel-title-bar.png');
				background-position: top left;
				background-size: 180px 20px;
				background-repeat: no-repeat;
				clear: both;
			}
				.cp-title {
					color: white;
					text-indent: 40px;
					line-height: 40px;
				}
				.cp-view-toggle { 
					width: 16px; height: 16px;
					display: inline-block;
					position: absolute;
					right: 8px; top: 2px;
					background-image: url("../img/cp-view-toggle-icon.png");
					background-size: 32px;
					background-position: 0 0;
					cursor: pointer;
				}
				.cp-view-toggle:hover, .cp-view-toggle:active {
					background-position: 16px 0;
				}

				.cp-view-toggle-up {
					background-position: 0 -16px;
				}

				.cp-view-toggle-up:hover, .cp-view-toggle-up:active {
					background-position: 16px -16px;
				}

			.cp-content-wrapper, .cp-controls {
				margin: 0; padding: 0; border: 0;
				display: block;
				position: relative;
				float: left;
			}

			.cp-content-wrapper { 
				width: 156px; height: 78px;
				background-color: rgba(250,250,255,0.5);
				overflow: auto;
				-moz-border-radius: 0 0 0 8px;
				-webkit-border-radius: 0 0 0 8px;
				border-radius: 0 0 0 8px;
				border-left: 2px solid rgba(25,25,25,0.5);
				border-bottom: 2px solid rgba(25,25,25,0.5);
			}
				.cp-content {
					/*background-color: white;*/
					position: absolute;
					padding-top: 4px; 
					padding-bottom: 10px;
					width: 136px; height: auto;
					top: 0; left:2px;
				}

				.code-bit {
					position: relative;
					margin-left: 1%;
					width: 110px; height: 15px;
					border-top: 2px solid #666;
					border-bottom: 2px solid #666;
					background-color: #fea;
					cursor: pointer;
					color: #666;
					font-size: 12px;
					text-indent: 6px;
					line-height: 20px;
					font-weight: bold;
					text-transform: uppercase;
				}

				.code-bit-block {
					width: 130px; height: 30px;
				}

				.code-bit:hover, .code-bit:active {
					background-color: #a95;
					color: #eee;
				}

				.code-bit-drag {
					background-color: #a95;
					color: #eee;
				}

				.cb-selected {
					border: 2px solid #afa;
					background-color: #a95;
					color: #eee;
				}

				.cb-executing {
					border: 2px solid #9fa;
					background-color: #ccc;
					color: #afa;
				}


			.cp-controls {
				width: 20px; height: 78px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
				background: #d0e4f7; /* Old browsers */
				background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
				background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
				-moz-border-radius: 0 0 8px 0;
				-webkit-border-radius: 0 0 8px 0;
				border-radius: 0 0 8px 0;
				border-right: 2px solid rgba(25,25,25,0.5);
				border-bottom: 2px solid rgba(25,25,25,0.5);

			}
				.cp-add, .cp-delete, .cp-run { 
					width: 20px; height: 20px; 
					position: absolute;
					left: 0;
					background-image: url("../img/cp-buttons.png");
					background-repeat: no-repeat; 
					background-size: 60px 20px;
					cursor: pointer; 
				}
				.cp-add { 
					top: 5px;
					background-position: 0 0;
				}
				.cp-delete { 
					top: 30px;
					height: 16px; 
					background-position: -20px 25%;
				}
				.cp-run {
					top: 54px;
					background-position: -40px 0;
				}
	/*-------------------------------------------------------------------*/

	/*--Game info display - Puase Screen - Results Screen----------------*/
		/*menu button that opens info as pause menu during gameplay*/
		.btn-pause, .btn-play {
			display: none;
			position: absolute;
			top: 4px; left:50%;
			width: 64px; height: 64px;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
			background-image: url('../img/btn-play-pause.png');
			background-size: 200% 100%;
		}

		.btn-pause {
			background-position: 64px 0;
		}

		.btn-play {
			background-position: 0 0;
		}

		.info-screen-wrapper {
			display: none;
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 300%;
			background-color: rgba(0,0,0,0.4);
		}

			.info-screen-inner {
				display: block;
				position: absolute;
				top: 5%; left: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);

				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				transform: translateX(-50%);
				width: 80%; height: auto; min-height: 200px;
				background-color: rgba(100,100,100,0.8);
			}

			.info-screen-title {
				width: 100%;
				color: #eee;
				font-size: 1.5em;
				font-weight: bold;
				text-align: center;
			}

			.info-screen-content, .pause-screen-content {
				width: 90%; height: auto;
				margin: 10px auto;
				color: #eee;
			}

			.pause-screen-content {
				display: none;
				text-align: center;
			}

			.btn-quit-level, .btn-reset-level {
				display: inline-table;
				width: 64px; height: 64px;
				margin: 0 20px;
				background-size: 100%;
				cursor: pointer;
			}

			.btn-quit-level {
				background-image: url('../img/btn-quit.png');
			}

			.btn-reset-level {
				background-image: url('../img/btn-reset.png');
			}
	/*-------------------------------------------------------------------*/
	
	/*section of gui that is currently active*/
	.gui-active {
		display: block;
	}

	/*hidden elements*/
	.hidden {
		display: none;
	}

/*--END GUI INTERFACE ELEMENTS-------------------------------------------*/

/*--Error for screen sizes too small-------------------------------------*/
	.screen-too-small {
		display: none;
		position: absolute;
		top: 40%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		color: #666;
		text-align: center;
		font-size: 1.4em;
		font-weight: normal;
		font-family: arial, sans-serif;
	}
/*-----------------------------------------------------------------------*/

/*--Media queries for small, med and large visible options---------------*/
	@media only screen and (min-width: 200px) and (max-width: 699px) {
		.visible-med, .visible-large { 
			display: none;
		}
	}

	@media only screen and (min-width: 700px) and (max-width: 999px) {
		.visible-small, .visible-large {
			display: none;
		}
	}

	@media only screen and (min-width: 1000px) {
		.visible-small, .visible-med {
			display: none;
		}
	}
/*-----------------------------------------------------------------------*/

/*--Screens with insufficient width--------------------------------------*/
	@media only screen and (max-width: 499px) {
		body {
			background-color: #fff;
		}

		.content-wrapper, .loader-container {
			display: none;
		}

		.screen-too-small {
			display: block;
		}
	}
/*-----------------------------------------------------------------------*/

/*--CSS STYLES FOR SCREEN SIZE ADAPTATIONS-------------------------------*/

	/*--Small sized screens lower limit (500px and up)-------------------*/
		@media only screen and (min-width: 500px) {
			body { 
				font-size: 1.1em;
			}

			.dimension-wrapper{
				width: 480px;
				height: 240px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 96px;
				width: 480px;
				height: 144px;
			}

			.game-lands-canvas {
				top: 192px;
				width: 480px;
				height: 48px;
			}

			.game-bg-sky {
				height: 260px;
			}

			.game-bg-clouds {
				height: 104px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 48px 144px;
				height: 48px;
			}

			.game-bg-underground {
				top: 260px;
				height: 200px;
			}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 600px and up---------------------------------------------*/
		@media only screen and (min-width: 600px) {
			body { 
				font-size: 1.2em;
			}

			.dimension-wrapper {
				width: 560px;
				height: 280px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 112px;
				width: 560px;
				height: 168px;
			}

			.game-lands-canvas {
				top: 224px;
				width: 560px;
				height: 56px;
			}

			.game-bg-sky {
				height: 300px;
			}

			.game-bg-clouds {
				height: 118px;
			}

			.game-bg-lands {
				height: 120px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 56px 168px;
				height: 56px;
			}

			.game-bg-underground {
				top: 300px;
				height: 200px;
			}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 700px and up---------------------------------------------*/
		@media only screen and (min-width: 700px) {
			/*MEDIUM SIZE LOWER LIMIT*/
			body { 
				font-size: 1.2em;
			}

			.small-button {
				padding: 5px 10px; 
				line-height: 20px; 
				font-size: 20px;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}

			.large-button {
				padding: 8px 20px; 
				line-height: 26px; 
				font-size: 26px;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
			}

			.gui-tab-content {
				height: 70%;
			}

			.user-session { 
				top: 4px; right: 5px;
				height: 26px;
				padding: 4px 10px;
				font-size: 18px;  line-height:28px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radiusus: 5px;
			}	
				.user-session-open {
					height: 100px; 
				}
				.user-name, .user-session .lang-eng, .user-session .lang-esp {
					top: -4px;
				}

			.user-profile {

			}
				.profile-user-info img{
					width: 48px; height: 48px;
				}
				.user-profile .gui-tab-title-bar {
					height: 15%;
				}
				.user-profile .gui-tab-group {
					height: 55%;
				}

			.dimension-wrapper {
				width: 640px;
				height: 320px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 128px;
				width: 640px;
				height: 192px;
			}

			.game-lands-canvas {
				top: 256px;
				width: 640px;
				height: 64px;
			}

			.game-bg-sky {
				height: 340px;
			}

			.game-bg-clouds {
				height: 136px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 64px 192px;
				height: 64px;
			}
			.game-bg-underground {
				top: 340px;
				height: 200px;
			}

			
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 750px and up---------------------------------------------*/
		@media only screen and (min-width: 750px) {
			body { 
				font-size: 1.2em;
			}

			.gui-block-link {
				width: 250px;
			}

			.dimension-wrapper {
				width: 720px;
				height: 360px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 144px;
				width: 720px;
				height: 216px;
			}

			.game-lands-canvas {
				top: 288px;
				width: 720px;
				height: 72px;
			}

			.game-bg-sky{
				height: 380px;
			}

			.game-bg-clouds {
				height: 152px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 72px 216px;
				height: 72px;
			}

			.game-bg-underground {
				top: 380px;
				height: 200px;
			}

			.code-bit-list {
				width: 208px; height: 160px;
				top: 50px; left: 288px;
				background-size: 208px 16px;
			}

			.code-bit-list-inner {
				width: 196px; height: 138px;
				top: 11px; left: 4px;
				padding-left: 1px;
				-moz-border-radius: 0 8px 8px 8px;
				-webkit-border-radius: 0 8px 8px 8px;
				border-radius: 0 8px 8px 8px;
			}

			.code-panel { 
				width: 288px; height: 160px;
			}

				.cp-title-bar {
					width: 288px; height: 32px;
					background-size: 288px 32px;
				}

					.cp-view-toggle { 
						width: 26px; height: 26px;
						right: 10px; top: 3px;
						background-size: 52px;
					}
					.cp-view-toggle:hover, .cp-view-toggle:active {
						background-position: 26px 0;
					}

					.cp-view-toggle-up {
						background-position: 0 -26px;
					}

					.cp-view-toggle-up:hover, .cp-view-toggle-up:active {
						background-position: 26px -26px;
					}


				.cp-content-wrapper { 
					width: 251px; height: 126px;
				}
					.cp-content {
						width: 224px; 
					}

					.code-bit {
						width: 192px; height: 24px;
						font-size: 16px;
						text-indent: 8px;
						line-height: 30px;
					}

					.code-bit-block {
						width: 224px; height: 48px;
					}

				.cp-controls {
					width: 33px; height: 126px;
				}
					.cp-add, .cp-delete, .cp-run { 
						width: 32px; height: 32px; 
						background-size: 96px 32px;
					}
					.cp-add { 
						top: 8px;
						background-position: 0 0;
					}
					.cp-delete { 
						top: 48px;
						height: 27px; 
						background-position: -32px 40%;
					}
					.cp-run {
						top: 90px;
						background-position: -64px 0;
					}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 840px and up---------------------------------------------*/
		@media only screen and (min-width: 840px) {
			body { 
				font-size: 1.5em;
			}

			.dimension-wrapper {
				width: 800px;
				height: 400px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 160px;
				width: 800px;
				height: 240px;
			}

			.game-lands-canvas {
				top: 320px;
				width: 800px;
				height: 80px;			
			}

			.game-bg-sky {
				height: 420px;
			}

			.game-bg-clouds {
				height: 168px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 80px 240px;
				height: 80px;
			}

			.game-bg-underground {
				top: 420px;
				height: 200px;
			}


		}
	/*-------------------------------------------------------------------*/

	/*--Screens 900px and up---------------------------------------------*/
		@media only screen and (min-width: 900px) {
			body { 
				font-size: 1.5em;
			}

			.gui-block-link {
				width: 300px;
			}

			.dimension-wrapper {
				width: 880px;
				height: 440px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 176px;
				width: 880px;
				height: 264px;
			}

			.game-lands-canvas {
				top: 352px;
				width: 880px;
				height: 88px;
			}

			.game-bg-sky {
				height: 460px;
			}

			.game-bg-clouds {
				height: 184px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 88px 264px;
				height: 88px;
			}

			.game-bg-underground {
				top: 460px;
				height: 200px;
			}

			.code-bit-list {
				width: 260px; height: 200px;
				top: 60px; left: 358px;
				background-size: 260px 20px;
			}

			.code-bit-list-inner {
				width: 244px; height: 172px;
				top: 14px; left: 6px;
				padding-left: 2px;
				-moz-border-radius: 0 10px 10px 10px;
				-webkit-border-radius: 0 10px 10px 10px;
				border-radius: 0 10px 10px 10px;
			}

			.code-panel { 
				width: 360px; height: 200px;
			}

				.cp-title-bar {
					width: 360px; height: 40px;
					background-size: 360px 40px;
				}

					.cp-view-toggle { 
						width: 32px; height: 32px;
						right: 12px; top: 4px;
						background-size: 64px;
					}
					.cp-view-toggle:hover, .cp-view-toggle:active {
						background-position: 32px 0;
					}

					.cp-view-toggle-up {
						background-position: 0 -32px;
					}

					.cp-view-toggle-up:hover, .cp-view-toggle-up:active {
						background-position: 32px -32px;
					}


				.cp-content-wrapper { 
					width: 314px; height: 158px;
				}
					.cp-content {
						width: 280px; 
					}

					.code-bit {
						width: 240px; height: 30px;
						font-size: 20px;
						text-indent: 10px;
						line-height: 40px;
					}

					.code-bit-block {
						width: 280px; height: 60px;
					}

				.cp-controls {
					width: 42px; height: 158px;
				}
					.cp-add, .cp-delete, .cp-run { 
						width: 40px; height: 40px; 
						background-size: 120px 40px;
					}
					.cp-add { 
						top: 10px;
						background-position: 0 0;
					}
					.cp-delete { 
						top: 60px;
						height: 32px; 
						background-position: -40px 50%;
					}
					.cp-run {
						top: 110px;
						background-position: -80px 0;
					}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 1000px and up--------------------------------------------*/
		@media only screen and (min-width: 1000px) {
			/*LARGE SIZE LOWER LIMIT*/
			body { 
				font-size: 1.5em;
			}

			.gui-tab-content {
				height: 80%;
			}

			.user-session { 
				top: 4px; right: 5px;
				height: 30px;
				padding: 5px 10px;
				font-size: 20px;  line-height:32px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radiusus: 5px;
			}	
				
				.user-session-open {
					height: 120px; 
				}

				.user-name, .user-session .lang-eng, .user-session .lang-esp {
					top: -6px;
				}

			.user-profile {

			}
				.profile-user-info img{
					width: 64px; height: 64px;
				}

				.user-profile .gui-tab-title-bar {
					height: 10%;
				}

				.user-profile .gui-tab-group {
					height: 60%;
				}

			.dimension-wrapper {
				width: 960px;
				height: 480px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 192px;
				width: 960px;
				height: 288px;
			}

			.game-lands-canvas {
				top: 384px;
				width: 960px;
				height: 96px;
			}

			.game-bg-sky {
				height: 500px;
			}

			.game-bg-clouds {
				height: 200px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 96px 288px;
				height: 96px;
			}

			.game-bg-underground {
				top: 500px;
				height: 200px;
			}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 1200px and up--------------------------------------------*/
		@media only screen and (min-width: 1200px) {
			body { 
				font-size: 2em;
			}

			.dimension-wrapper {
				width: 1120px;
				height: 560px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 224px;
				width: 1120px;
				height: 336px;
			}

			.game-lands-canvas {
				top: 448px;
				width: 1120px;
				height: 112px;
			}

			.game-bg-sky{
				height: 580px;
			}

			.game-bg-clouds {
				height: 232px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 112px 336px;
				height: 112px;
			}

			.game-bg-underground {
				top: 580px;
				height: 200px;
			}
		}
	/*-------------------------------------------------------------------*/

	/*--Screens 1300px and up--------------------------------------------*/
		@media only screen and (min-width: 1300px) {
			body { 
				font-size: 2em;
			}

			.dimension-wrapper {
				width: 1200px;
				height: 600px;
			}

			.game-objects-canvas, .game-characters-canvas {
				top: 240px;
				width: 1200px;
				height: 360px;
			}

			.game-lands-canvas {
				top: 480px;
				width: 1200px;
				height: 120px;
			}

			.game-bg-sky {
				height: 620px;
			}

			.game-bg-clouds {
				height: 248px;
			}

			.bg-lands-left, .bg-lands-right{
				background-size: 120px 360px;
				height: 120px;
			} 

			.game-bg-underground {
				top: 620px;
				height: 200px;
			}
		}
	/*-------------------------------------------------------------------*/

/*--END STYLES FOR SCREEN SIZE ADAPTATIONS-------------------------------*/