/*
	Project Title: Programaquina y los Secretos del Planeta Algoritmus;
	Author: Marcus Baptiste 
*/

/*fonts */
@font-face {
	font-family: "space-font";
	src: url("../fonts/space.ttf") format("truetype");
}
@font-face {
	font-family: "rvd-code28";
	src: url("../fonts/rvd_code28.ttf") format("truetype");
}

body { 
	position: relative; 
	width: auto; height: auto;
	background-color: #333; 
	color: #333; 
	font-family: "space-font", arial, sans-serif; font-size: 1em; 
}

/*remove defaults on links*/
a { text-decoration: none}

/* Language options - (spanish language option by default) */
.lang-eng { display: none; }

.lang-esp { }


/* general property modifiers */


.center-bg-full {
	/* centered background scaled to fit element */
	background-repeat: no-repeat; 
	background-position: 50% 50%; 
	background-size: 100% 100%;
}

.bold { 
	/* bolded text general class (for more advanced styling and responsive) */
	font-size: 1.5em; 
	font-weight: 600; 
	color: #000; 
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


/*page content*/
.page-title {
	margin: 0; 
	padding: 0;
	text-align: center;
}


/*form elements*/
input {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	border: 1px solid rgba(50,50,70,0.5);
	height: 20px; 
	line-height: 20px; 
	padding: 4px 10px;
	display: inline-block;
}

label {
	display: inline-block; 
}

.gui-button {
	display: inline-block; 
 	font-family: "Century Gothic", Century;
	cursor: pointer;
}

	.small-button {
		padding: 5px 10px; 
		line-height: 20px; 
		font-size: 20px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.large-button {
		padding: 8px 20px; 
		line-height: 26px; 
		font-size: 26px;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	}


	.green-button {
		border: 2px solid #407F10;
		background-color: #61c419; 
		color: #333;
	}

		.green-button:hover, .green-button:active {
			background-color: #4D9913; 
			color: #ddd;
		}

	.blue-button {
		border: 2px solid #4B88C1;
		background-color: #60abf8; 
		color: #333;
	}

		.blue-button:hover, .blue-button:active {
			background-color: #569ADD; 
			color: #ddd;
		}

	.yellow-button {
		border: 2px solid #B29B17;
		background-color: #E5CA1D; 
		color: #333;
	}

		.yellow-button:hover, .yellow-button:active {
			background-color: #C9AF1A; 
			color: #ddd;
		}

.gui-icon {
	display: inline-block;
	background-image: url("../img/icon-user.png");
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

	.small-icon {
		width: 16px; height: 16px;
	}

	.med-icon {
		width: 24px; height: 24px;
	}

	.large-icon {
		width: 32px; height: 32px;
	}

	.icon-arrow-down { background-image: url("../img/icon-arrow-down.png"); }
	.icon-arrow-up { background-image: url("../img/icon-arrow-up.png"); }
	.icon-user { background-image: url("../img/icon-user.png"); }

.gui-block-link {
	text-decoration: none; 
	font-weight: bold; 
	color: #333; 
	display: block; 
	padding: 4px 0; 
	width: 200px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center; 
	background-color: rgba(250,250,255,0.8);
}

.gui-block-link:hover, .gui-block-link:active {

	background-color: rgba(20,20,20,0.5); 
	color: #eee;
	
}


/* wrapper for all content (will set size of all display elements except for possible a 
	background canvas for displaying background elements to take up all screen) */
.wrapper { 
	position: relative; 
	margin: 0 auto; 
	width: 480px; height: 240px;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  	background-image: url("../img/bg_test.png"); 
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: 100% 130%;
}


/* main subdivisions */
/*incase i decide to make a loader??*/
.loader { display: none;}

/* container for all the elements of the app */
.app-container { 
	display: block; 
	width: 100%; height: 100%; 
}

/* container for the elements of the logo */
.logo-container { 
	display: none; 
	width: 100%; height: 100%; 
	position: absolute;  
	background-color: black;
}

/* logo parts 
.part0 { }
.part1 { }
.part2 { }
*/


/* GUI interface elements*/

.gui-overlay { 
	display: block; 
	position: absolute;	
	width: 100%; height: 100%; 
	top: 0; left: 0;
}

/*generally aplicable styles (will apply to all user interfaces)*/
.user-select, .user-create {
	position: relative;
	height: auto;
}
	
	.button-wrapper {
		position: relative;
		height: 40px;
		margin: 10px auto 0;
		display: block;
	}


/*select user (login)*/
.user-select { 
	display: none; 
	width: 300px; 
	margin:-115px auto 0; 
	top: 50% ;
}
	.user-select label, .user-select input { 
		width: 200px; 
		margin: 0 auto;
	}
	.user-select label { 
		padding: 10px 0 0 0; 
		width: 220px;
		font-weight: bold;
		display: block;
	}
	.user-select input { 
		margin-top: 0;
		display: block;
	}
	.user-select .button-wrapper {
		width: 220px;
	}

	.user-select .gui-button {
		position: absolute;
		right: 0;
	}

	#btn-create-profile {
		position: relative;
		display: block;
		margin: 10px auto 0;
	}

/*create user */
.user-create {
	display: none;
	width: 400px; 
	margin:-115px auto 0; 
	top: 50% ;
}

	.user-create .button-wrapper {
		width: 300px;
	}

	.input-group-wrapper {
		width: 300px;
		margin: 5px auto 0;
	}


	.input-group-wrapper label {
		width: 100px;
		position: relative; top: 4px;
		text-align: right;
	}

	#btn-create-user {
		position: absolute;
		right: 0;
	}

.user-session { 
	display: none; 
	position: absolute;
	top: 2px; right: 5px;
	width: auto; height: 20px;
	padding: 2px 5px;
	font-family: "Century Gothic", Century;
	font-size: 16px;  line-height: 24px;
	background-color: rgba(250,250,255,0.5);
	border: 2px solid rgba(25,25,75,0.4);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radiusus: 5px;
	cursor: pointer;
	overflow: hidden;

}	
	
	.user-session-open {
		height: 80px; 
	}

	.user-session-bar {

	}

	.user-session-options {
		width: 100%; height: auto;
	}

	.menu-option {
		display: block;
	}

	.user-name {
		margin-right: 20px;
	}

	.user-name, .user-session .lang-eng, .user-session .lang-esp {
		position: relative;
		top: -2px;
	}


.game-menu { 
	display: none;
	position: relative;
	top: 50%;
	margin-top: -100px;
}

	.game-menu .button-wrapper {
	}

	.game-menu .gui-button {
		display: block;
		margin: 20px auto;	
	}

.game-options { 
	display: none;
}

.level-select {
	display: none;
	text-align: center;
	position: relative;
	top: 50%;
	margin-top: -80px;
}
	.level-select .page-title {
		margin-bottom: 20px;
	}

	.level-thumb {
		/*dimensions will vary according to screen size*/
		width: 80px; height: 60px;
		border: 2px solid rgba(25,50,25,0.2);
		display: inline-table;
	}

	.level-thumb:hover {
		border: 2px dashed rgba(100,150,100,0.5);
		outline: 2px solid rgba(90,120,90,0.8);
	}

	.level-passed {
		background-color: rgba(200,250,200,0.8);
	}

	.level-open {
		background-color: rgba(200,200,250,0.8);
	}

	.level-selected {
		background-color: rgba(150,255,220, 0.9);
		outline: 2px solid rgba(90,120,90,0.8);
	}

	.level-locked {
		background-color: rgba(200,120,100,0.8);
	}

	.level-select .gui-button {
		display: block;
		margin: 20px auto 0;
	}	


	/*scroll arrows for showing levels that cannot be shown on screen because of space restrictions*/
	.level-scroll-left, .level-scroll-right {
		display: none;
	}


/* Code panel elements */
.code-panel { 
	width: 400px; height: 200px;
	position: absolute; 
	top: 0; left: 0;
	overflow: hidden; 
	display: none;
}

	.cp-left-side, .cp-right-side { 
		position: absolute;
	}

	.cp-left-side {
		width: 42px; height: 180px;
		top: 0; left: 0;
		background-image: url("../img/code-panel-left-side.png");
	}

	.cp-right-side {
		width: 60px; height: 180px;
		top: 0; right: 0; 
		background-image: url("../img/code-panel-right-side.png");
	}

	.cp-view-toggle { 
		width: 25px; height: 50px;
		position: relative;
		top: 64px; left: 8px;
		background-image: url("../img/cp-view-toggle.png");
		cursor: pointer;
	}
	
	.cp-add, .cp-delete, .cp-run { 
		width: 40px; height: 40px; 
		position: relative;
		background-image: url("../img/cp-buttons.png");
		background-repeat: no-repeat; 
		background-size: 120px 40px;
		cursor: pointer; left: 16px;
	}

	.cp-add { 
		top: 24px;
		 background-position: 0 0;
	}
	.cp-delete { 
		top: 32px; 
		height: 32px; 
		background-position: -40px 50%;
	}
	.cp-run {
		top: 40px; 
		background-position: -80px 0;
	}

	.cp-content {
		position: relative; 
		top: 12px; left: 20px;
		width: 80%; height: 142px; 	
		padding: 5px 2%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		background-color: rgba(250,250,255,0.5);
	}

/*game display */
.game-canvas { 
	display: block; 
	position: relative;
	top: 50%; 
	margin:0 auto; 
	 -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%); 
/*	background-color: #f00;
	background-color: rgba(255,0,0,0.4);*/
	width: 480px; height: 240px;
}


.gui-active {
	/*section of gui that is currently active*/
	display: block;
}


/*media queries for small, med and large visible options (with upper and lower bounds)*/
	@media only screen and (min-width: 200px) and (max-width: 699px) {
		.visible-med, .visible-large { 
			display: none;
		}
	}

	@media only screen and (min-width: 700px) and (max-width: 999px) {
		.visible-small, .visible-large {
			display: none;
		}
	}

	@media only screen and (min-width: 1000px) {
		.visible-small, .visible-med {
			display: none;
		}
	}
/*--------------------------------------------------------------------------------*/

@media only screen and (min-width: 300px) {
	/*css styles for screen size adaptations (responsiveness)*/
	/*SMALL SIZE LOWER LIMIT*/

	.wrapper, .game-canvas {
		width: 480px;
		height: 240px;
	}

	body { 
		font-size: 1.1em;
		background-color: red;
	}
}

@media only screen and (min-width: 600px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 560px;
		height: 280px;
	}

	body { 
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 700px) {
	/*css styles for screen size adaptations (responsiveness)*/
	/*MEDIUM SIZE LOWER LIMIT*/
	.wrapper, .game-canvas {
		width: 640px;
		height: 320px;
	}

	body { 
		font-size: 1.2em;
		background-color: green;
	}

	.user-session { 
		top: 4px; right: 5px;
		height: 26px;
		padding: 4px 10px;
		font-size: 18px;  line-height:28px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radiusus: 5px;
	}	
		
		.user-session-open {
			height: 100px; 
		}

		.user-name, .user-session .lang-eng, .user-session .lang-esp {
			top: -4px;
		}

}

@media only screen and (min-width: 750px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 720px;
		height: 360px;
	}

	body { 
		font-size: 1.2em;
	}

	.gui-block-link {
		width: 250px;
	}
}

@media only screen and (min-width: 840px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 800px;
		height: 400px;
	}

	body { 
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 900px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 880px;
		height: 440px;
	}

	body { 
		font-size: 1.5em;
	}

	.gui-block-link {
		width: 300px;
	}
}


@media only screen and (min-width: 1000px) {
	/*css styles for screen size adaptations (responsiveness)*/
	/*LARGE SIZE LOWER LIMIT*/
	.wrapper, .game-canvas {
		width: 960px;
		height: 480px;
	}

	body { 
		font-size: 1.5em;
		background-color: blue;
	}

	.user-session { 
		top: 4px; right: 5px;
		height: 30px;
		padding: 5px 10px;
		font-size: 20px;  line-height:32px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radiusus: 5px;
	}	
		
		.user-session-open {
			height: 120px; 
		}

		.user-name, .user-session .lang-eng, .user-session .lang-esp {
			top: -6px;
		}
}


@media only screen and (min-width: 1200px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 1120px;
		height: 560px;
	}

	body { 
		font-size: 2em;
	}
}

@media only screen and (min-width: 1300px) {
	/*css styles for screen size adaptations (responsiveness)*/
	.wrapper, .game-canvas {
		width: 1200px;
		height: 600px;
	}

	body { 
		font-size: 2em;
	}
}