/*
	Titulo de Proyecto: Programaquina y los Secretos del Planeta Algoritmus;
	Autor: Marcus Baptiste - ID: R0032401;
*/

body { 
	position: relative;
	width: auto; height: auto;
	background-color: #666; 
	color: white; 
	font-size: 1em; font-family: Arial sans-serif;
}

/* main division */
.wrapper { 
	position: relative;
	margin: 0 auto;
	width: 800px; height: 500px;
	border: 2px solid white; 
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.bold { font-size: 1.5em; font-weight: 600; color: #000; }

/* main subdivisions - first holds the actual app, second holds the logo splashscreen */
.loader { display: none;/*incase i decide to make a loader??*/}
.app_container { width: 100%; height: 100%; display: block;}
.logo_container { display: none; width: auto; height: auto; position: absolute; }

/*.part0 { }
.part1 { }
.part2 { }*/


/* GUI interface elements*/

.gui_overlay { 
	display: block; position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
}
	.user_session { display: block; position: absolute;}
	.login { display: none;}
	.crear_perfil {display: none;}
	.cambiar_clave {display: none;}

	.game_menu { display: none;}
	.opciones { display: none;}
	.seleccionar_nivel {display: none;}
	
	.code_panel { width: 400px; height: 200px;
		position: absolute; top: 0; left: 0;
	}
		.cp_left_side, .cp_right_side { 
			position: absolute;
			background-repeat: no-repeat; background-position: 50% 50%;
			background-size: 100% 100%;
		}

		.cp_left_side {
			width: 42px; height: 180px;
			top: 0; left: 0;
			background-image: url("imagenes/code_panel_left_side.png");

		}

		.cp_right_side {
			width: 60px; height: 180px;
			top: 0; right: 0;
			background-image: url("imagenes/code_panel_right_side.png");
		}

		.cp_content {
			position: relative; margin: 12px auto 0;
			width: 90%; height: 152px; 	
			border-top: 2px solid black;
			border-bottom: 2px solid black;
			background-color: rgba(250,250,255,0.8);

		}

/*game display */
.game_canvas { 
	display: block; position: relative;
	top: 50%; margin:0 auto; 
	 -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%); 
	background-color: #f00;
	background-color: rgba(255,0,0,0.4);
	width: 800px; height: 500px;
}


 	